<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mood.dao.mapper.GoodMapper">

	<select id="getAllOdd" resultType="com.mood.entity.Good">
		select * from good where good_id%2!=0 and good_id not in (111,112,113)
	</select>
	<select id="getAllEven" resultType="com.mood.entity.Good">
		select * from good where good_id%2!=1 and good_id not in (111,112,113)
	</select>
	<select id="getByType" resultType="com.mood.entity.Good">
		select * from good where good_type=#{goodType}
	</select>	
	<select id="getTitle" resultType="com.mood.entity.Good">
		select * from good  where good_id in (111,112,113)
	</select>
</mapper>